@use "/styles/const.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %regular-16px;
  color: const.$white;
  text-decoration: none;

  &::after {
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }

  &:hover {
    font-weight: bold;
  }

  &:active {
    opacity: 0.75;
  }
}
