@use "sass:math";

.root {
  padding: 100px (math.div(190, 1980) * 100%);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content;
  justify-items: center;
  row-gap: 100px;
}

@media screen and (max-width: 1440px) {
  .root {
    padding: 100px (math.div(90, 1440) * 100%);
  }
}
