@use "/utils/const.scss";

.container {
  display: flex;
  padding: 12px;
  width: min-content;
  height: min-content;
  background-color: const.$green;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0px 0px 20px rgba(194, 198, 208, 0.4);
  }

  &:active {
    background-color: rgba(54, 154, 48, 0.75);
  }

  &:disabled {
    background-color: const.$gray2;
  }
}
.icon {
  width: 24px;
  font-size: 24px;
  color: const.$white;
}
