@use "sass:math";
@use "/utils/const.scss";

.container {
  display: grid;
  grid-auto-flow: row;
  gap: 24px;
  justify-items: center;
  justify-content: center;
  padding: 15px (math.div(190, 1440) * 100%) 50px;
  border-top: 1px solid const.$gray2;

  @media screen and (max-width: 1440px) {
    padding: 15px (math.div(90, 1440) * 100%);
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 24px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr 3fr;
  }
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 2fr;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.copyright {
  margin: 0;
  @extend %regular-12px;
  color: const.$gray5;
}
