@use "/utils/const.scss";

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: min-content;
  column-gap: 10px;
  justify-content: start;
  align-items: center;
}

.icon {
  width: 48px;
  font-size: 48px;
  align-self: start;

  @media screen and (max-width: 1024px) {
    width: 36px;
    font-size: 36px;
  }
}

.content {
  display: flex;
  flex-direction: column;

  &_reversed {
    flex-direction: column-reverse;
  }
}

.name {
  margin: 0;
  @extend %regular-12px;
  color: const.$gray10;
}

.text {
  margin: 0;
  @extend %bold-18px;
  color: const.$white;
  text-decoration: none;
}
