@use "/utils/const";

.container {
  height: 100%;
}
.address {
  box-sizing: border-box;
  margin: 0;
  padding: 12px 24px;
  @extend %bold-24px;
  color: const.$white;
  border-bottom: 1px solid const.$green;
}

.contract {
  padding: 12px 24px;
}

.reportList {
  margin: 0;
  padding: 0 24px 12px;
  list-style-type: none;
  @extend %regular-14px;
}

.reportLink {
  color: const.$gray11;
  text-decoration: none;

  &:hover {
    text-decoration: underline const.$green 15%;
  }

  &:active {
    opacity: 0.75;
  }
}
